extends layout
block content
    - var showPage = 8
    div.uk-grid
        div.uk-width-small-1-1
            if posts.length
                ul.uk-list.uk-list-line
                    each item in posts
                        li
                            div.uk-grid
                                div.uk-width-1-3
                                    a(href= item.url,target='_blank')= item.title
                                div.uk-width-1-3
                                    span= item.feedId.title
                                div.uk-width-1-3
                                    span= moment(item.postTime).fromNow()
                if pages > 1
                    ul.uk-pagination
                        if page == 1
                            li.uk-disabled
                                span
                                    i.uk-icon-angle-double-left
                        else
                            li
                                a(href="/posts/"+ (page-1))
                                    i.uk-icon-angle-double-left
                        // 大于显示分页，预留头尾
                        if pages > (showPage + 1)
                            - if (page < showPage){
                                - for(var i=1;i<= showPage;i++){
                                    - if (i == page)
                                        li.uk-active
                                            span= i
                                    - else
                                        li
                                            a(href="/posts/" + i)= i
                                -}
                                li
                                    span ...
                                li
                                    a(href="/posts/"+pages)= pages
                            // 倒数几页，预留向前1页
                            - } else if (page > (pages - showPage + 1)){
                                li
                                    a(href="/posts/1") 1
                                li
                                    span ...
                                - for(var i=(pages- showPage + 1);i<= pages;i++){
                                    - if (i == page)
                                        li.uk-active
                                            span= i
                                    - else
                                        li
                                            a(href="/posts/" + i)= i
                                -}
                            - } else {
                                li
                                    a(href="/posts/1") 1
                                li
                                    span ...
                                //显示前后showPage/ 2页
                                - for(var i=page-(showPage/ 2 -1);i<(page+ showPage/ 2);i++){
                                    - if (i == page)
                                        li.uk-active
                                            span= i
                                    - else
                                        li
                                            a(href="/posts/" + i)= i
                                -}
                                li
                                    span ...
                                li
                                    a(href="/posts/"+pages)= pages
                            - }
                        else
                            - for(var i= 1;i<=pages;i++){
                            - if (i == page)
                                li.uk-active
                                    span= i
                            - else
                                li
                                    a(href="/posts/" + i)= i
                            -}
                        if page == pages
                            li.uk-disabled
                                span
                                    i.uk-icon-angle-double-right
                        else
                            li
                                a(href="/posts/" + (page + 1))
                                    i.uk-icon-angle-double-right
            else
                div.uk-alert.uk-alert-warning
                    | 没有文章，o(╯□╰)o